BasedOnStyle: LLVM

ColumnLimit: 80 
IndentWidth: 2
ContinuationIndentWidth: 2

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

BinPackArguments: false
BinPackParameters: false

BreakBeforeBinaryOperators: None