BasedOnStyle: LLVM

# Types
ClassCase: PascalCase
StructCase: PascalCase
EnumCase: PascalCase
UnionCase: PascalCase
TypeAliasCase: PascalCase
TypedefCase: PascalCase

# Functions / methods
FunctionCase: camelCase

# Variables
VariableCase: snake_case

# Data members
MemberCase: snake_case

# Constants
ConstantCase: UPPER_CASE

# Macros
MacroCase: UPPER_CASE